# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/dist
/output
/output_ios
/output_android

# misc
.DS_Store
npm-debug.log*

yarn.lock
*.iml
.idea
yarn
yarn-error.log
package-lock.json